 
p This site is made and maintained by Hyacinth Briones, Rommel Lagurin and Monique Noche.
p They are students from Laguna College taking Bachelor of Science in Computer Science.
p They created this site in  2017 during their internship in Big Outsource.

p
 | Showing of 'interpolate' filter:
 | {{ 'Current version is v%VERSION%.' | interpolate }}
