p Trivia Master Challenge
p 
|In this trivia quiz game, you will select a category and give a five questions from easy round. 
|Once you answered atleast 3 of them correctly, you will step to the next round until you reached  
|the last round. If you failed to answer them, you will go back in selecting category.

p This quiz is inspired from Trivia Plaza created and maintaned by Peter Meindertsma.
p Other quizzes that you may take are: 
p 1. Dominoquiz.com - Prevent domino tiles from falling in this general knowledge quiz.
p 2. Actionquiz.com - Quiz show where human players compete with computer opponents.
p 3. Popkwiz.com - Pop music quizzes about the 50s, 60s, 70s, 80s, 90s, 2000s and 2010s.
